*~
*.bak
.DS_Store
node_modules
/composer.phar
/vendor

# /fuel/app
/fuel/app/cache/*
/fuel/app/logs/*
**/config/development/*.php
**/config/production/*.php
**/config/test/*.php
/fuel/app/tmp/*
/fuel/app/vendor/*

# /public/vendor
/public/vendor/*
!/public/vendor/youthweb/
