<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Gibt es Youthweb.net noch?</title>
	<link type="text/css" rel="stylesheet" href="assets/css/bootstrap.css" />
</head>
<body>
	<div class="container">
		<div class="jumbotron">
			<p>Gibt es Youthweb.net noch?</p>
			<h1>Ja!</h1>
			<p><a class="btn btn-primary btn-lg" href="https://youthweb.net">Glaubst du nicht?</a></p>
		</div>
		<div class="row">
			<div class="col-md-4">
				<h2>Statistik</h2>
				<p>Insgesamt haben <b>{{ user_total }} User</b> einen Account bei Youthweb.net</p>
				<p>Im Moment sind <b>{{ user_online }} User</b> online.</p>
			</div>
			<div class="col-md-4">
				<h2>About</h2>
				<p><a href="https://youthweb.net">Youthweb.net</a> ist eine Community für junge Christen.</p>
				<p>Wenn du noch keinen Account hast, dann kannst du dich <a href="https://youthweb.net/user/anmelden">hier registrieren</a>.</p>
			</div>
			<div class="col-md-4">
				<h2>Technik</h2>
				<p>Diese Webseite funktioniert dank der Youthweb API.</p>
				<ul>
					<li><a href="http://developer.youthweb.net">Dokumentation</a></li>
					<li><a href="https://github.com/youthweb/youthweb-api">GitHub Respository</a></li>
				</ul>
				<p>Außerdem besteht diese Webseite vollständig aus Open Source Software. Der Code ist lizensiert unter GPL3 und <a href="https://github.com/Art4/isyouthwebstillonline">ist auf Github zu finden</a>.</p>
			</div>
		</div>
		<hr/>
		<footer>
			<p><span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> with <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> in Düren <span class="text-muted">|</span> <a href="https://wlabs.de/kontakt">Kontakt</a> <span class="text-muted">|</span> License <a href="https://github.com/Art4/isyouthwebstillonline/blob/master/LICENSE">GPL3</a></p>
		</footer>
	</div>
</body>
</html>
